{%- if block.settings.follow_us_title -%}
<p class="h4 footer__title small--hide">{{ block.settings.follow_us_title }}</p>
{% render 'social-icons', additional_classes: 'footer__social' %}
{%- endif -%}