 <div class="popup-wraper">
   <div class="popup-inner-div">
        <div class="shoppay-top">
        <div class="sub-wraper">
            <div class="img-div">
              <div class="img-holder">
                <img src="https://cdn.shopify.com/s/files/1/0612/3359/4545/files/shoppay-logo.png?v=1690991033" class="img-c">
              </div>

              <div class="span-holder">
                <span>installments in partnership with </span>
                <img src="https://cdn.shopify.com/s/files/1/0612/3359/4545/files/affirm.png?v=1690991044" class="s-img">
              </div>
            </div>
        </div>
        <div class="choose-div">
            <div class="p-div">
            <p>Choose Shop Pay at checkout to split your</p>
            <p>purchase into 4 equal interest-free payments-with</p>
            <p>no additional, hidden, or late fees*</p>
            </div>
        </div>
    </div>
        <div class="three-divs">

            <div class="sub-three">
                <div>1</div>
                <p>Add items to your
                <br>shopping bag</p>
            </div>
            <div class="sub-three">
                <div>2</div>
                <p>Check out with</p>
                <img src="https://cdn.shopify.com/s/files/1/0612/3359/4545/files/shoppay-logo.png?v=1690991033" style="width:100px">
            </div>
            <div class="sub-three">
                <div>3</div>
                <p>Choose to pay in<br>
                  4 installments</p>
            </div>
            

        </div>
        
        <div class="last-para">
            <p>
                *Payment option are offered by Affirm and are subject to eligibility check and may not be 
                available in all states. California residents: Affirm Loan services, LLC is licensed by the Department of business 
                Overnight. Loans are made or arranged pursuant to california financing law 
                license 60080-111681.
                
            </p>
        </div>
     </div>
    <span class="close-shoppay-popup">
      <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="20" height="20" viewBox="0 0 30 30" aria-hidden="true"><defs><style>.a{fill:none;stroke:#808284;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>Afterpay modal close button</title><line class="a" x1="1" y1="1" x2="29" y2="29"></line><line class="a" x1="1" y1="29" x2="29" y2="1"></line></svg>
    </span>
    </div>
