<!-- Slider main container -->


<div class="swiper swiper-active-class page-width">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for block in section.blocks %}
      <div class="swiper-slide">
        {% case block.type %}
  
          {% when 'Image' %}  
             <div class="image-block">
               <img src="{{ block.settings.bg_img | img_url:''  }}" alt="">
             </div>
          {% when 'Instagram' %}
             <div class="instagram-text">
                  <h4> {{ block.settings.c_t_review }} </h4>
                  <p> 
                  <a href="https://instagram.com/forgano.official" target="_blank" title="https://instagram.com/forgano.official">
                  
                  {{ block.settings.c_t_review_name }} </a> </p>
             </div>
          {% endcase %} 

      </div>
    {% endfor %}
    </div>

  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev">


      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000" height="59px" width="59px" version="1.1" id="Layer_1" viewBox="0 0 404.258 404.258" xml:space="preserve">
        <polygon points="289.927,18 265.927,0 114.331,202.129 265.927,404.258 289.927,386.258 151.831,202.129 "/>
        </svg>

    </div>

    <div class="swiper-button-next">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="30px" width="30px" version="1.1" id="Layer_1" viewBox="0 0 330.002 330.002" xml:space="preserve">
        <path id="XMLID_103_" d="M233.252,155.997L120.752,6.001c-4.972-6.628-14.372-7.97-21-3c-6.628,4.971-7.971,14.373-3,21  l105.75,140.997L96.752,306.001c-4.971,6.627-3.627,16.03,3,21c2.698,2.024,5.856,3.001,8.988,3.001  c4.561,0,9.065-2.072,12.012-6.001l112.5-150.004C237.252,168.664,237.252,161.33,233.252,155.997z"/>
        </svg>
    </div>
  

  </div>





  <style>

.instagram-text {
  display: flex;
  align-content: space-between;
  flex-wrap: initial;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image-block {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-active-class  img {
  {% comment %} height: 100%; {% endcomment %}
  object-fit: cover;
  border-radius: 4px;
}

.instagram-text h4{
  color: #000;
  font-size: 2.875vw;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5 !important;
  letter-spacing: 0;
  text-transform: uppercase;
}
.instagram-text a{
  color: #F7239C;
font-size: 1.68vw;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
display:block
}



@media only screen and (max-width: 3600px) and (min-width: 900px)  {
  .swiper-button-prev {
    width: 30px;
  }
  .swiper-button-next {
    width: 30px;
  }
  .swiper-active-class {
    padding: 60px 0;
}

}



@media only screen and (max-width: 1500px) and (min-width: 1024px)  {
  .swiper-active-class {
    margin: 0 50px;
}

}

@media only screen and (max-width: 899px)  {
  .swiper-button-prev {
    width: 15px;
  }
  .swiper-button-next {
    width: 15px;
  }


.swiper-active-class {
    padding: 20px 0;
}
.instagram-text h4{

  font-size: 7vw;
  line-height: 1 !important;


}

  .instagram-text a{
    color: #F7239C;
  font-size: 4vw;
}
.swiper-active-class  img {
  height: auto;

}
}





</style>


<script>

    const swiperold = new Swiper('.swiper-active-class', {
      slidesPerView: 2,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        768: {
          slidesPerView: 3,
          spaceBetween: 15,
        },
        1020: {
          slidesPerView: 4,
          spaceBetween: 20,
        }
        },

      

      });
</script>

{% schema %}
  {
    "name": "Instagram feed",
    "settings": [

      
    ],

    	"blocks": [
     {
       "name": "Image",
       "type": "Image",
       "settings": [
        {
          "type":"image_picker",
          "id":"bg_img",
          "label":"Upload background image"
        }
       ]
     },
     {
       "name": "Instagram",
       "type": "Instagram",
       "settings": [
        {
          "type": "textarea",
          "id": "c_t_review",
          "label": "Type your review here"
        },
        {
          "type": "textarea",
          "id": "c_t_review_name",
          "label": "Type name"
        }
       ]
     }
  ],
    "presets": [
      {
        "name": "Instagram feed",
        "category": "Image"
      }
    ]
  }
{% endschema %}