<div class="newletter-container">
   <div class="container">
   

   <div class="row">
      <div class="col-6  align-center-mobile">
             <div class="left-wrapper">
                <h4>Sign Up for Email and Get 15% off Your First Purchase</h4>
                <p> 
                Sign up to receive Urban Outfitters emails and get first dibs on new arrivals,  <br>
                sales, exclusive content, events and more!
               </p>
             </div>
      </div>
      <div class="col-6">
           <div class="right-wrapper">
            <div class="klaviyo-form-RdYrZf"></div>
         
           </div>
      </div>

   </div>
</div>
</div>



<style>
   .align-center-mobile {
      display: flex;
      align-items: center;
 
  }
   .container{
     
     width: 100%;
     padding:50px 50px 0 50px; 
   }
   .left-wrapper p {
      padding: 0;
      margin: 0;
      font-size: 14px;
  }
   .row{
      display:flex;
   }
    .align-center-mobile{
   
       display: flex;
       
   }
   .newletter-container span ,  .newletter-container span , .newletter-container button
   {
      font-family: Suisse Intl!important;
   }
.newletter-container{
 padding:30px 0;
 background-color: rgb(233 231 223);

   border-bottom: 1px solid rgb( 221,221,221 );

}
.newletter-container{

}
.col-6{
   width: 100%;
  }

@media only screen and (max-width: 2600px) and (min-width: 1020px)  {
   .col-6{
      width: 50%;
     }

}

@media only screen and (max-width: 750px) and (min-width: 100px)  {
   .row{
      display:flex;
      flex-direction:column;
   }
   .container{
     
      width: 100%;
      padding:0; 
    }

    .left-wrapper {
      padding: 2px 10px;
  }
}

</style>