<!-- Slider main container -->
<div class="swiper swiper-active-class">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for block in section.blocks %}
      <div class="swiper-slide">
        {% case block.type %}
  
          {% when 'Image' %}  
             <div class="image-block">
               <img src="{{ block.settings.bg_img | img_url:''  }}" alt="">
             </div>
          {% when 'Instagram' %}
             <div class="instagram-text">
                  <h4> {{ block.settings.c_t_review }} </h4>
                  <p> {{ block.settings.c_t_review_name }} </p>
             </div>
          {% endcase %} 

      </div>
    {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>



  <style>

</style>


<script>

    const swiperold = new Swiper('.swiper-active-class', {
      slidesPerView: 1,
      spaceBetween: 20,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        768: {
          slidesPerView: 3,
          spaceBetween: 30,
        }
        },

      

      });
</script>

{% schema %}
  {
    "name": "Instagram feed",
    "settings": [

      
    ],

    	"blocks": [
     {
       "name": "Image",
       "type": "Image",
       "settings": [
        {
          "type":"image_picker",
          "id":"bg_img",
          "label":"Upload background image"
        }
       ]
     },
     {
       "name": "Instagram",
       "type": "Instagram",
       "settings": [
        {
          "type": "textarea",
          "id": "c_t_review",
          "label": "Type your review here"
        },
        {
          "type": "textarea",
          "id": "c_t_review_name",
          "label": "Type name"
        }
       ]
     }
  ],
    "presets": [
      {
        "name": "Instagram feed",
        "category": "Image"
      }
    ]
  }
{% endschema %}