<section class="main-product-section">
  <div class="product-images-main">
    {% render 'product-images-main', product:product %}
  </div>
</section>
{% schema %}
  {
    "name": "Main Product",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}