<div class="our-shoes-heading">
  <h1>{{ section.settings.h3 }}</h1>
</div>
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
"type": "text",
"id": "h3",
"label": "Heading",
"default":"our shoes"
}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}