{% style %}
.video-wrapper iframe, .video-wrapper video {
     position: unset;
    top: 0;
    left: 0;
  width: auto; 
    height: 80vh;
    overflow: hidden;
}

{% endstyle %}
<div class="product-video-section">
  <div class="video-wrapper">
    <video controls="controls" autoplay muted loop playsinline preload="metadata">
      <source src="{{ section.settings.video.sources[1].url }}" type="video/mp4">
    </video>
  </div>
  
</div>
{% schema %}
  {
      "name": "Product Video ",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Video"
      }

    ],
    "presets": [
      {
        "name": "Product Video"
      }
    ]
  }
{% endschema %}


