{% style %}
  .product-gallery-section {

    margin:200px 0;
    padding:0 50px;
  }
{% endstyle %}
<div class="product-gallery-section">
  <div class="video-wrapper">
    <video autoplay muted loop playsinline preload="metadata">
      <source src="{{ section.settings.video.sources[0].url }}" type="video/mp4">
    </video>
  </div>
  
</div>
{% schema %}
  {
      "name": "Product Video ",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Video"
      }

    ]
  }
{% endschema %}


