{% style %}
  .product-gallery-section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  gap:20px;
    margin:200px 0;
    padding:0 50px;
  }
  .fera-productReviews {
      display: none;
  }
    .product-gallery-section
  .text-image-wrapper-2 {
      flex-direction: column;
  }
    .product-gallery-section
  .text-image-wrapper-2 > div:first-child p {
      font-weight: 500;
      font-size: 73px;
      line-height: 91%;
  /* or 66px */
      letter-spacing: -0.04em;
      color: #1F1F1F;
  }
  .product-gallery-section
  .text-image-wrapper-2 > div:last-child {
      display: flex;
      align-items: flex-end;
  }
  .product-gallery-section
  .text-image-wrapper-2>div:nth-child(1) {
      align-items: flex-start;
  }

  .product-gallery-section img {
      width: 100%;
  }
  .product-gallery-section
  .text-image-wrapper-2 p {
      font-weight: 500;
      font-size: 15px;
      line-height: 140%;
  /* or 21px */
      color: rgba(0, 0, 0, 0.5);
  }
{% endstyle %}
<div class="product-gallery-section">
  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when 'image' -%}
        <div>{{ block.settings.image | img_url: 'master' | img_tag }}</div>
      {%- when 'text' -%}
        <div class="text-image-wrapper-2">
          <div>
            {{ block.settings.richtext1 }}
          </div>
          <div>
            {{ block.settings.richtext2 }}
          </div>
        </div>
    {%- endcase -%}
  {% endfor %}
</div>
{% schema %}
  {
      "name": "Product Image gallery",
    "settings": [],
     "blocks": [
    {
      "type": "text",
  "name": "Text",
  "limit": 1,
  "settings": [
 {
"type": "richtext",
"id": "richtext1",
"label": "Text"
},
      {
"type": "richtext",
"id": "richtext2",
"label": "Text"
}
  ]
    },
           {
      "type": "image",
  "name": "Image",
"settings":[
        {
"type": "image_picker",
"id": "image",
"label": "t:sections.text-and-image.settings.image.label"
}
]
          }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
