<div class="site-container richtext-custom-wrapper">
<div class="text-with-head mobile-hide">
<h2  class="indedebdnone"><span>{{ section.settings.richtext }}</span>



</h2>
  </div>
  <div class="text-with-head mobile-show test margin-reduct">
 <h2>
      
      <span class="only_mobile">{{ section.settings.richtext4 }}</span>


</h2>
  {% comment %} <img src="{{ section.settings.imgMob | img_url:'' }}"> {% endcomment %}
  </div>
</div>


<style>

    .richtext-custom-wrapper  .customtextMobile  img{
            width: 100%;
        }
</style>
{% schema %}
  {
    "name": "Richtext Custom",
   "class":"richtext-custom",
    "settings": [
      {
"type": "text",
"id": "richtext",
"label": "Text"
},
      {
"type": "text",
"id": "richtext1",
"label": "Text"
},
      {
"type": "text",
"id": "richtext2",
"label": "Text"
},
      {
"type": "text",
"id": "richtext3",
"label": "Text"
},
      {
  "type":"header",
  "content":"Mobile"
},
      {
"type": "text",
"id": "richtext4",
"label": "Text"
},
      {
"type": "text",
"id": "richtext5",
"label": "Text"
},
      {
"type": "text",
"id": "richtext6",
"label": "Text"
},
      {
"type": "text",
"id": "richtext7",
"label": "Text"
      },   {
"type": "image_picker",
"id": "imgMob",
"label": "Mobile Image"
}
    ],
    "presets": [
{
"name": "Richtext Custom"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}